@import "tailwindcss";

:root {
  --background: #0000FF;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-digital: var(--font-digital);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-digital), monospace;
}

.font-digital {
  font-family: var(--font-digital), monospace;
}

::selection {
  background: white;
  color: #0000FF;
}

.social-icon:hover {
  color: rgba(255,255,255,1) !important;
}
